body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #272727;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .App {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  h1, h2, h3 {
    color: #1f3b73;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  

  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
  }
  

  .hero-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
  }
}



.hero-greeting {
  font-size: 1.25rem;
  color: #4b5563;
  margin-bottom: 0.5rem;
}

.hero-name {
  font-size: 3rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 1rem;
}

.hero-title {
  font-size: 1.125rem;
  color: #6b7280;
  margin-bottom: 1.5rem;
}


.hero-icons {
  display: flex;
  gap: 1rem;
}

.icon-wrapper {
  background-color: white;
  padding: 0.75rem;
  border-radius: 9999px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.icon-wrapper:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 1.25rem;
  color: #374151;
}

.hero-right {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 500px;
  width: auto;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}