body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #0f0f0f;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  
  .App {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  h1, h2, h3 {
    color: #1f3b73;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  

  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
  }
  
